input[type='submit'],
button,
[aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}
body{
    background-color: rgba(51, 51, 51, 0.5);
}
.container{
    width: 40%; 
}
.users-container{
   text-align: center;
}